SoapExample/src/main/webapp/WEB-INF/wsdl/StudentsWSPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://services.soap.arqsoft.fiuba.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.soap.arqsoft.fiuba.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.soap.arqsoft.fiuba.com/" schemaLocation="StudentsWSPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="findStudentByID">
    <part name="parameters" element="tns:findStudentByID"/>
  </message>
  <message name="findStudentByIDResponse">
    <part name="parameters" element="tns:findStudentByIDResponse"/>
  </message>
  <message name="StudentNotFoundException">
    <part name="fault" element="tns:StudentNotFoundException"/>
  </message>
  <message name="removeStudentByID">
    <part name="parameters" element="tns:removeStudentByID"/>
  </message>
  <message name="removeStudentByIDResponse">
    <part name="parameters" element="tns:removeStudentByIDResponse"/>
  </message>
  <message name="addStudent">
    <part name="parameters" element="tns:addStudent"/>
  </message>
  <message name="addStudentResponse">
    <part name="parameters" element="tns:addStudentResponse"/>
  </message>
  <message name="StudentAlreadyExistException">
    <part name="fault" element="tns:StudentAlreadyExistException"/>
  </message>
  <message name="getAllStudents">
    <part name="parameters" element="tns:getAllStudents"/>
  </message>
  <message name="getAllStudentsResponse">
    <part name="parameters" element="tns:getAllStudentsResponse"/>
  </message>
  <portType name="StudentsWS">
    <operation name="findStudentByID">
      <input message="tns:findStudentByID"/>
      <output message="tns:findStudentByIDResponse"/>
      <fault message="tns:StudentNotFoundException" name="StudentNotFoundException"/>
    </operation>
    <operation name="removeStudentByID">
      <input message="tns:removeStudentByID"/>
      <output message="tns:removeStudentByIDResponse"/>
      <fault message="tns:StudentNotFoundException" name="StudentNotFoundException"/>
    </operation>
    <operation name="addStudent">
      <input message="tns:addStudent"/>
      <output message="tns:addStudentResponse"/>
      <fault message="tns:StudentAlreadyExistException" name="StudentAlreadyExistException"/>
    </operation>
    <operation name="getAllStudents">
      <input message="tns:getAllStudents"/>
      <output message="tns:getAllStudentsResponse"/>
    </operation>
  </portType>
</definitions>

