SoapExample/src/main/webapp/WEB-INF/wsdl/SubjectsPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://services.soap.arqsoft.fiuba.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.soap.arqsoft.fiuba.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.soap.arqsoft.fiuba.com/" schemaLocation="SubjectsPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllSubjects">
    <part name="parameters" element="tns:getAllSubjects"/>
  </message>
  <message name="getAllSubjectsResponse">
    <part name="parameters" element="tns:getAllSubjectsResponse"/>
  </message>
  <message name="addSubject">
    <part name="parameters" element="tns:addSubject"/>
  </message>
  <message name="addSubjectResponse">
    <part name="parameters" element="tns:addSubjectResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <portType name="subjects">
    <operation name="getAllSubjects">
      <input message="tns:getAllSubjects"/>
      <output message="tns:getAllSubjectsResponse"/>
    </operation>
    <operation name="addSubject">
      <input message="tns:addSubject"/>
      <output message="tns:addSubjectResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
</definitions>

